In [18]:
### Exercise #1 Filter out all of the empty strings from the list below


places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
better_list = list(filter(lambda x : len(x)> 4 , places))
print(better_list)

['Argentina', 'San Diego', 'Boston', 'New York']

In [19]:
### Exercise #2 Write an anonymous function that sorts this list by the last name...



authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]
a_lower = list(map(str.lower,authors))
a_title = list(map(str.title,a_lower))
lastname = []
for i in range(0,len(a_title)):
    lastname.append(a_title[i].split()[-1])
print(lastname)

['Milliken', 'Anisimov', 'Garfield', 'Hasselhoff', 'Winfrey']

In [21]:
### Exercise #3 Convert the list below from Celsius to Farhenheit, using the map function with a lambda...


places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

# F = (1.8*C)+32 
temps = [item[1] for item in places]
#print(temps)
f =list(map(lambda x : (1.8*x) + 32, temps))
#print (f)
places_1 = [item[0] for item in places]
#print(places_1)

import itertools
for i in zip(['Nassau', 'Boston', 'Los Angeles', 'Miami'], [89.6, 53.6, 111.2, 84.2]):
    print (i)

('Nassau', 89.6)
('Boston', 53.6)
('Los Angeles', 111.2)
('Miami', 84.2)

In [3]:
### Exercise #4 Write a recursive function to perform the fibonacci sequence up to the number passed in.


def fibonacci(n):
    if (n <= 1):
        return n
    else:
        return (fibonacci(n-1) + fibonacci(n-2))
n = int(input("Please enter the number of members of the sequence:"))
print("The fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Please enter the number of members of the sequence:6
The fibonacci sequence:
0
1
1
2
3
5